<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>QueryServlet</servlet-name>
		<servlet-class>org.softedu.file.servlet.QueryServlet</servlet-class>
	</servlet>

  <servlet>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>org.softedu.file.servlet.FileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet2</servlet-name>
    <servlet-class>org.softedu.file.servlet.LoginServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RightsServlet</servlet-name>
    <servlet-class>org.softedu.file.servlet.RightsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>org.softedu.file.servlet.DownloadServlet</servlet-class>
  </servlet>

  <filter>
  	<filter-name>FilterEx</filter-name>
  	<filter-class>org.softedu.file.filter.FilterEx</filter-class>
  </filter>
  <servlet>
    <servlet-name>DeptServlet</servlet-name>
    <servlet-class>org.softedu.file.servlet.DeptServlet</servlet-class>
  </servlet>





	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/query</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/changepassword</url-pattern>
	</servlet-mapping>
	

  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/servlet/FileServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoginServlet2</servlet-name>
    <url-pattern>/servlet/LoginServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RightsServlet</servlet-name>
    <url-pattern>/servlet/RightsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/servlet/DownloadServlet</url-pattern>
  </servlet-mapping>
  <filter-mapping>
  	<filter-name>FilterEx</filter-name>
  	<url-pattern>/filterex</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>DeptServlet</servlet-name>
    <url-pattern>/servlet/DeptServlet</url-pattern>
  </servlet-mapping>

	 <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>org.softedu.file.servlet.Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.softedu.file.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryServlet2</servlet-name>
    <servlet-class>org.softedu.file.servlet.QueryServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>org.softedu.file.servlet.ErrorServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryServlet2</servlet-name>
    <url-pattern>/jsp/QueryServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/servlet/ErrorServlet</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
