/* CSS Document */
body{
border:solid 1px #000000;
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
text-align: center;
}
#id{
width:1000px;
height:100px;
}
#menu{
background:url(../images/body_login_1.jpg);
background-repeat:repeat-x;
height:40px;
width:1000px;

}
#b{
float:left;
color:#0033FF;
padding-top:10px;
width:400px;
text-align:right;}
#c{
float:left;
color:#0033FF;
padding-top:10px;
text-align:right;}
#a{
float:left;
color:#0033FF;
padding-top:10px;
width:200px;
text-align:right;}
.main{
width:1000px;
height:450px;
margin-top:5px;
}
.left{
margin-left:5px;
height:400px;
width:600px;
border:solid 1px  #CCCCCC;
float:left;
background-color: #E3E3E3;
}
.right{
margin-right:5px;
height:400px;
width:365px;
border:solid 1px #CCCCCC;
float:right;
}
#title{
background:repeat url(../images/menu.jpg);
height:26px;
color:#0000FF;
text-align:center;
font-size:16px;
padding-top:4px;
}
#text{
text-align:center;
padding-top:30px;

}
#text li{
list-style:none;
color:#0000FF;
height:50px;

}
#text li a{
text-decoration:none;

}
