@CHARSET "UTF-8";
body{
border:solid 1px #000000;
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
text-align: center;
}
#id{
width:1000px;
height:100px;
}
#menu{
background:url(../images/body_login_1.jpg);
background-repeat:repeat-x;
height:43px;
width:1000px;
}
#b{
float:left;
color:#0033FF;
padding-top:10px;
width:300px;
text-align:right;}
#c{
float:left;
color:#0033FF;
padding-top:10px;
width:400px;
}
#a{
float:left;
color:#0033FF;
padding-top:10px;
width:200px;
text-align:right;}
.main{
width:1000px;
height:450px;
margin-top:5px;
text-align:center;
background-image:url("../images/a6b6074520b2273387947399[1].jpg");
}
.textpassword{

text-align:center;
margin-top:100px;
}