.body{
  border:solid 1px;
  height: 530px;
  width:980px;
}

.header{
   width:980px;
   height:130px;
}

.body1{
   width:980px;
   padding:10px;
   height:20px;
   background: repeat-x url(../image/body_login_1.jpg);
   color:#0033FF
}
.body2{
width:980px;}

.bodyleft{
   width:780px;
   height:420px;
   float:left;
   border:solid 1px #999;
}

.bodyright{	
   width:180px;
   height:420px;
   float:right;
   border:solid 1px #999;
}

.title{
   text-align:center;
   background:repeat-x url(../image/biankuanglan-01.jpg);
   height:25px;
   padding-top:5px;
   font-size:14px;
   font-family:"黑体", Courier, monospace;
}

.bodyleft2{
   width:660px;
   height:420px;
   float:left;
   border:solid 1px #999;
}

.bodyright2{
   width:300px;
   height:420px;
   float:right;
   border:solid 1px #999;
}

.font{
   font-size: 20px;
   color: blue;
}

.font2{
   color: red;
}